.game_header {
  background-color: #fdebf0;
  /* background-image: url("../public/images/game-background.png");  */
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5%;
}

.game_header_imgs {
  width: 100%;
  height: 100%;
}

.game_content1 {
  padding: 5% 20%;
  background-color: #fdebf0;
}

.top1 {
  margin-bottom: 10rem;
  display: flex;
  justify-content: space-between;
  gap: 5%;
}

.game_h2 {
  font-family: "Sigmar One";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 95%;
  text-transform: uppercase;
  color: #ed1556;
}

.game_p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 2rem;
}

.game_button {
  background: #ed1556;
  border-radius: 24px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;

  color: #ffffff;
  padding: 1rem;
  border: none;
}

.game_button:hover {
  background-color: #ed1556;
  transform: translateX(-5px) translateY(-5px);
  box-shadow: 5px 5px 0 0 #121212;
  transition: 0.5s;
}

.game2 {
  position: relative;
  display: inline-block;
  transition: transform 0.6s ease, opacity 0.4s ease,
    -webkit-transform 0.6s ease;
}

.game2:hover {
  transform: rotate(10deg);
}

.game_header {
  opacity: 0;
  transform: translateY(-78px);
  transition: opacity 1s ease, transform 1s ease;
}

.game_header.show {
  opacity: 1;
  transform: translateY(0);
}

.games_buttons_downloards {
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
  align-items: center;
}

/* Responsive game */
@media screen and (max-width: 1300px) {
  .top1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .game_button,
  .game_h2,
  .game2_images {
    margin-bottom: 5%;
  }

  .game2_images {
    max-width: 100%;
    width: 240px;
    max-height: 100%;
    height: 240px;
  }

  .game_header {
    padding-top: 12%;
  }

  .flex1 {
    order: 1;
  }

  .flex2 {
    order: 0;
  }

  .games_buttons_downloards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .game2_images {
    max-width: 100%;
    width: 190px;
    max-height: 100%;
    height: 190px;
  }

  .top1 {
    margin-bottom: 2rem;
  }

  .game_header {
    padding-top: 29%;
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1500px) {
  .game_header {
    padding-top: 9%;
  }
}
